<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="estilo.css" rel="stylesheet">
</head>
<body>
<h1>Salvar no Banco de Dados</h1>
<img src="baixados.png">
<div class="textos">
    <p>Texto Atual</p>
    <%=textoFinal%><br>
    <form action="/textBD" method="get">
    <input type="text" name="textoBD"><br>
    <input type="submit" value="Salvar no BD" name="salvarBD">
    </form>
</div>
</body>
</html>